<!-- <app-ngfor></app-ngfor> -->


<!-- Navigation-->
<app-navigation></app-navigation>
<!-- Masthead-->
<!-- <app-masthead></app-masthead> -->

<!-- Services-->
<!-- <app-services></app-services> -->


<!-- Portfolio Grid-->
<!-- <app-portfolio-grid></app-portfolio-grid> -->

<!-- About-->
<!-- <app-about></app-about> -->

<!-- Team-->
<!-- <app-team></app-team> -->

<!-- <router-outlet></router-outlet> -->
<!-- Clients-->
<!-- <app-clients></app-clients> -->

<!-- <router-outlet></router-outlet> -->


<!-- Contact-->
<!-- <app-contact></app-contact> -->
<!-- Footer-->
<app-footer></app-footer>
<!-- Portfolio Modals-->